<div id="<%= dom_id schedule %>">
  <p>
    <strong><%= I18n.t('activerecord.attributes.schedule.title') %></strong>
    <%= schedule.title %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.schedule.description') %></strong>
    <%= schedule.description %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.artist.name') %></strong>
    <%= schedule.artist.name %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.category.name') %></strong>
    <%= schedule.category.name %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.schedule.start_time') %></strong>
    <%= schedule.start_time %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.schedule.end_time') %></strong>
    <%= schedule.end_time %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.schedule.show_remaining_time') %></strong>
    <%= schedule.show_remaining_time %>
  </p>

</div>
