<p style="color: green"><%= notice %></p>

<% content_for :title, "Schedules" %>

<h1><%= t("header.schedule_index") %></h1>

<%= month_calendar events: @schedules do |date, schedules| %>
  <div class="border p-2 h-32">
    <div class="text-xs font-semibold text-gray-700"><%= date.day %></div>
    <% schedules.each do |schedule| %>
      <div class="mt-2 p-1 bg-blue-500 text-white text-xs rounded">
        <%= link_to schedule.title, schedule %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to t(".create_schedule"), new_schedule_path %>
<br>
<%= link_to t(".to_root_page"), root_path %>
<br>
<%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
