<% if notice.present? %>
  <p class="mb-4 p-4 bg-green-100 text-green-600 font-semibold rounded-lg"><%= notice %></p>
<% end %>
<br>
<h1 class="text-2xl font-semibold mb-4"><%= t(".title") %></h1>
<br>
<%= month_calendar events: @schedules do |date, schedules| %>
  <div class="border border-black p-12 h-32 relative">
    <div class="text-xs font-semibold text-black absolute top-2 left-2">
      <%= date.day %>
    </div>
    <div class="mt-1">
      <% schedules.each do |schedule| %>
        <div class="mt-1 p-1 bg-primary text-white text-xs rounded">
          <%= link_to schedule.title, schedule %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<br>
<div class="text-center mt-6">
  <%= link_to t(".to_root_page"), root_path, class: "text-primary hover:underline mr-4" %>
</div>
