<p style="color: green"><%= notice %></p>

<% content_for :title, "Schedules" %>

<h1><%= t("header.schedule_index") %></h1>

<div id="schedules">
  <% @schedules.each do |schedule| %>
    <%= render schedule %>
    <p>
      <%= link_to t(".show_schedule"), schedule %>
    </p>
  <% end %>
</div>

<%= link_to t(".create_schedule"), new_schedule_path %>
<br>
<%= link_to t(".to_root_page"), root_path %>
<br>
<%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
