<p style="color: green"><%= notice %></p>

<%= render @schedule %>

<div>
  <%= link_to t(".edit_schedule"), edit_schedule_path(@schedule) %> |
  <%= link_to t(".back_schedule_index"), schedules_path %>

  <%= button_to t(".destroy_schedule"), @schedule, method: :delete %>
</div>
